.pagination {
  display: flex;
  justify-content: center;
  user-select: none;
}

.pagination_list {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.pagination_link {
  margin: 5px;
  text-decoration: none;
  font-family: 'Black Ops One';
  font-size: 50px;
  color: rgb(53, 53, 53);
}

.pagination_link.active {
  color: rgba(255, 255, 255, 0.25);
  cursor: default;
}

.pagination_link:not(:focus):not(.active):hover {
  color: rgba(255, 255, 255, 0.4);
}

.pagination_arrow_next,
.pagination_arrow_previous {
  display: flex;
  align-items: center;
}

.pagination_arrow_disabled {
  cursor: default;
}
.pagination_arrow_disabled .arrow_icon,
.pagination_arrow_disabled .arrow_icon:hover {
  fill: rgb(53, 53, 53, 0.25);
}

.arrow_icon {
  fill: rgb(53, 53, 53);
  margin: 5px;
  width: 55px;
  height: 55px;
}

.arrow_icon:hover {
  fill: rgba(255, 255, 255, 0.4);
}
.pagination,
.pagination_list,
.pagination_link,
.arrow_icon {
  transition: margin 0.5s ease, font-size 0.5s ease, width 0.5s ease,
    height 0.5s ease;
}

@media (max-width: 1250px) {
  .pagination_list {
    width: 450px;
  }
  .pagination_link {
    font-size: 45px;
  }
  .arrow_icon {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 970px) {
  .pagination_list {
    width: 400px;
    margin: 10px 0;
  }
  .pagination_link {
    font-size: 40px;
  }
  .arrow_icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 750px) {
  .pagination {
    margin-bottom: 20px;
  }
  .pagination_list {
    width: 325px;
  }
  .pagination_link {
    font-size: 30px;
  }
  .arrow_icon {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 350px) {
  .pagination_list {
    width: 275px;
  }
  .pagination_link {
    margin: 3px;
    font-size: 25px;
  }
  .arrow_icon {
    margin: 3px;
    width: 30px;
    height: 30px;
  }
}
