.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact_form_header {
  color: rgba(65, 65, 65, 0.5);
  font-size: 45px;
  font-family: 'segoe print', Verdana, sans-serif;
  font-weight: 100;
  user-select: none;
  text-align: center;
  transition: font-size 0.5s ease-in-out;
}

.contact_form {
  width: 80vw;
  margin: 46px 0;
}

.contact_form_top_fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.contact_form_top_fields .contact_form_field {
  width: 38vw;
}

.contact_form_field {
  padding-top: 12px;
  margin-bottom: 40px;
}

.contact_form_input {
  width: 100%;
  border: none;
  padding: 12px 0;
  background-color: transparent;
  border-bottom: 2px solid rgb(150, 150, 150, 0.5);
  outline: none;
  color: rgb(150, 150, 150);
  font-family: Montserrat, Verdana, sans-serif;
  font-size: 14px;
  transition: 0.15s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.contact_form_label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: rgba(150, 150, 150, 0.5);
  line-height: 2.57;
  font-family: 'Roboto Mono', Verdana, sans-serif;
  transition: 0.15s cubic-bezier(0.47, 0, 0.745, 0.715);
  user-select: none;
}

.form_validation_error {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  color: #f44a55;
  font-size: 13px;
}

.contact_form_input:focus {
  border-bottom-color: rgb(150, 150, 150);
}

.contact_form_input:focus + .contact_form_label,
.contact_form_input.filled + .contact_form_label {
  color: rgb(150, 150, 150);
  transform: translateY(-10px);
}

/* media */

@media (max-width: 970px) {
  .contact_form_header {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .contact_form_top_fields {
    display: block;
  }
  .contact_form_top_fields .contact_form_field {
    width: 80vw;
  }
}
