.promo_container {
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  z-index: -2;
  left: 200px;
  top: 90px;
  bottom: 35px;
  width: 600px;
  user-select: none;
}
.promo {
  display: flex;
  flex-direction: column;
}

.promo_greeting {
  opacity: 0;
  color: rgba(65, 65, 65, 0.5);
  font-size: 70px;
  font-family: 'segoe print', Verdana, sans-serif;
  font-weight: 100;
  animation: slide-in 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.promo_name {
  opacity: 0;
  color: rgba(65, 65, 65, 0.5);
  font-weight: 100;
  font-size: 45px;
  font-family: 'segoe script', Verdana, sans-serif;
  animation: slide-in 0.4s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.promo_role {
  opacity: 0;
  margin: 20px auto;
  font-family: 'Black Ops One', Arial, sans-serif;
  font-size: 20px;
  line-height: 35px;
  color: rgba(252, 255, 89, 0.25);
  animation: slide-rigth 0.6s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}
.promo_details {
  opacity: 0;
  margin: 20px auto;
  font-family: 'Black Ops One', Arial, sans-serif;
  font-size: 20px;
  line-height: 35px;
  color: rgba(138, 138, 138, 0.5);
  animation: slide-rigth 0.6s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}
.promo_container,
.promo_greeting,
.promo_name,
.promo_role,
.promo_details {
  transition: all 0.5s ease;
}

@media (max-width: 1320px) {
  .promo_container {
    left: 140px;
  }
}
@media (max-width: 1200px) {
  .promo_container {
    left: 30px;
  }
}

@media (max-width: 970px) {
  .promo_container {
    width: 500px;
  }
  .promo_greeting {
    font-size: 45px;
  }
  .promo_name {
    font-size: 30px;
  }
  .promo_role,
  .promo_details {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 780px) {
  .promo_container {
    left: 90px;
    width: 350px;
  }
}

@media (max-width: 670px) {
  .promo_container {
    width: 300px;
  }
  .promo_greeting {
    font-size: 40px;
  }
  .promo_name {
    font-size: 25px;
  }
  .promo_role,
  .promo_details {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 500px) {
  .promo_container {
    left: 20px;
    width: 200px;
    text-align: left;
  }
  .promo_greeting {
    font-size: 35px;
  }
  .promo_name {
    font-size: 25px;
  }
  .promo_role,
  .promo_details {
    font-size: 10px;
    line-height: 20px;
  }
}
