.promo_container {
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  z-index: -2;
  left: 200px;
  top: 90px;
  bottom: 35px;
  width: 600px;
  user-select: none;
}
.promo {
  display: flex;
  flex-direction: column;
}

.promo_greeting {
  opacity: 0;
  color: rgba(65, 65, 65, 0.5);
  font-size: 70px;
  font-family: 'segoe print', Verdana, sans-serif;
  font-weight: 100;
  animation: slidedown 0.4s forwards 0.2s ease-out;
}

.promo_name {
  opacity: 0;
  color: rgba(65, 65, 65, 0.5);
  font-weight: 100;
  font-size: 45px;
  font-family: 'segoe script', Verdana, sans-serif;
  animation: slidedown 0.4s forwards 0.4s ease-out;
}

.promo_name span {
  background-color: rgba(87, 87, 87, 0.1);
  color: rgb(94, 93, 92);
}

.promo_role,
.promo_details {
  opacity: 0;
  margin: 20px auto;
  font-family: 'Black Ops One', Arial, sans-serif;
  font-size: 20px;
  line-height: 35px;
  color: rgba(252, 255, 89, 0.25);
  animation: slideright 0.6s forwards 0.6s ease-in;
}

.promo_role span {
  color: rgb(94, 93, 92);
  background-color: rgba(99, 99, 99, 0.2);
}

.promo_details {
  color: rgba(138, 138, 138, 0.5);
}

.promo_container,
.promo_greeting,
.promo_name,
.promo_role,
.promo_details {
  transition: left 0.5s ease, width 0.5s ease, font-size 0.5s ease,
    line-height 0.5s ease;
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1320px) {
  .promo_container {
    left: 140px;
  }
}
@media (max-width: 1200px) {
  .promo_container {
    left: 30px;
  }
}

@media (max-width: 970px) {
  .promo_container {
    width: 450px;
  }

  .promo_greeting {
    font-size: 50px;
  }
  .promo_name {
    font-size: 30px;
  }
  .promo_role,
  .promo_details {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (max-width: 670px) {
  .promo_container {
    width: 350px;
  }
  .promo_greeting {
    font-size: 40px;
  }
  .promo_name {
    font-size: 25px;
  }
  .promo_role,
  .promo_details {
    font-size: 12px;
    line-height: 24px;
  }
}

@media (max-width: 500px) {
  .promo_container {
    left: 20px;
    width: 200px;
    text-align: left;
  }
  .promo_greeting {
    font-size: 35px;
  }
  .promo_name {
    font-size: 25px;
  }
  .promo_role,
  .promo_details {
    font-size: 10px;
    line-height: 20px;
  }
}
