.social {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.social__item {
  margin: 10px;
  transition: all 0.5s ease;
}
.social__link {
  display: flex;
}

.social__link svg {
  width: 35px;
  height: 35px;
}

.social__link[title='GitHub'] svg {
  fill: rgba(226, 249, 194, 0.5);
}
.social__link[title='Habr'] svg {
  fill: rgba(119, 162, 182, 0.5);
}
.social__link[title='LinkedIn'] svg {
  fill: rgba(159, 226, 236, 0.5);
}
.social__link[title='Vk'] svg {
  fill: rgba(148, 195, 249, 0.5);
}
.social__link[title='Telegram'] svg {
  fill: rgba(11, 162, 230, 0.5);
}
.social__link[title='Mail'] svg {
  fill: rgba(98, 13, 13, 0.5);
}

.social__link:hover svg {
  fill: rgba(180, 180, 180, 0.3);
}

.social,
.social__item,
.social__link svg {
  transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease;
}

@media (max-width: 970px) {
  .social__link svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 750px) {
  .social {
    margin: 5px 0;
  }
  .social__item {
    margin: 10px 5px;
  }
  .social__link svg {
    width: 25px;
    height: 25px;
  }
}
