.social {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.social__item {
  margin: 1vh 0.5vw;
  transition: all 0.5s ease;
}
.social__link {
  display: flex;
}

.social__link svg {
  width: 25px;
  height: 25px;
}

.social__link[title='My Github'] svg {
  fill: rgba(226, 249, 194, 0.5);
}
.social__link[title='My Habr Career'] svg {
  fill: rgba(119, 162, 182, 0.5);
}
.social__link[title='My Linked In'] svg {
  fill: rgba(159, 226, 236, 0.5);
}
.social__link[title='My Vk'] svg {
  fill: rgba(148, 195, 249, 0.5);
}
.social__link[title='My Telegram'] svg {
  fill: rgba(11, 162, 230, 0.5);
}
.social__link[title='Mail Me'] svg {
  fill: rgba(98, 13, 13, 0.5);
}

.social__link:hover svg,
.social__link:focus svg {
  fill: rgba(180, 180, 180, 0.3);
}

@media (max-width: 500px) {
  .social__item {
    margin: 2vh 2vw;
  }
}
