.wrapper {
  height: 100%;
  min-height: 500px;
}

.wrapper .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.wrapper .container h1 {
  color: aliceblue;
  font-size: 32px;
}

canvas#stars {
}
