.projects_page_container {
  min-height: 600px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  transition: min-height 0.5s ease;
}

@media (max-width: 1200px) {
  .projects_page_container {
    min-height: 500px;
  }
}

@media (max-width: 970px) {
  .projects_page_container {
    min-height: 450px;
  }
}

@media (max-width: 670px) {
  .projects_page_container {
    min-height: 625px;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
