.header_container {
  display: block;
  padding: 20px 5vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo_container {
  user-select: none;
  margin: 5px;
}

.logo_preload {
  background: url('../../images/Untitled-1.png');
}

.logo {
  display: flex;
  align-items: baseline;
  width: 130px;
  height: 65px;
  background: url('../../images/Untitled-2.png');
  background-size: 130px 65px;
  transition: width 0.5s ease, height 0.5s ease, background-size 0.5s ease;
}

.logo:hover {
  background: url('../../images/Untitled-1.png');
  background-size: 130px 65px;
}

.header_nav a {
  padding: 20px 6vw;
  color: rgba(228, 228, 228, 0.2);
  border: 1px solid;
  border-radius: 5px;
  border-color: rgba(56, 55, 55, 0.5);
  font-family: 'Black Ops One';
  font-weight: 100;
  font-size: 20px;
  margin: 2vh 2vw;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
}

.header_nav a.active {
  border-color: rgba(220, 220, 220, 0.25);
  background-color: rgba(87, 87, 87, 0.05);
}

.header_nav a:hover {
  background-color: rgba(87, 87, 87, 0.05);
}

.header_container {
  transition: all 0.5s ease;
}

@media (max-width: 970px) {
  .header_nav a {
    font-size: 10px;
    padding: 15px 6vw;
  }
  .logo {
    width: 80px;
    height: 40px;
  }
  .logo,
  .logo:hover {
    background-size: 80px 40px;
  }
}

@media (max-width: 750.4px) {
  .logo,
  .logo:hover {
    background: url('../../images/Untitled-1.png');
    background-size: 80px 40px;
  }
  .header_container {
    padding-bottom: 0;
  }
  .header_nav {
    display: none;
  }
}
