.contact_form_success {
  flex-grow: 1;
  margin-top: 50px;
}

.contact_form_success_header {
  color: rgba(65, 65, 65, 0.5);
  font-size: 60px;
  font-family: 'segoe script v2', Verdana, sans-serif;
  font-weight: 100;
  user-select: none;
  text-align: center;
  transition: font-size 0.5s ease-in-out;
}

.contact_form_success_message {
  width: 1000px;
  margin: 30px auto;
  font-family: 'Black Ops One', Tahoma, sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: rgba(138, 138, 138, 0.5);
  transition: width 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

@media (max-width: 1250px) {
  .contact_form_success_header {
    font-size: 45px;
  }
  .contact_form_success_message {
    width: 750px;
    font-size: 22px;
  }
  .shining_button.medium {
    font-size: 1rem;
    padding: 0.75rem 2.25rem;
    letter-spacing: none;
  }
}

@media (max-width: 780px) {
  .contact_form_success_header {
    font-size: 35px;
  }
  .contact_form_success_message {
    width: 650px;
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  .contact_form_success_header {
    font-size: 30px;
  }
  .contact_form_success_message {
    width: 350px;
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .contact_form_success_message {
    width: 250px;
  }
}
