.contact_form_success {
  margin-top: 50px;
}

.contact_form_success_header {
  color: rgba(65, 65, 65, 0.5);
  font-size: 45px;
  font-family: 'segoe print', Verdana, sans-serif;
  font-weight: 100;
  user-select: none;
  text-align: center;
  transition: font-size 0.5s ease-in-out;
}

.contact_form_success_message {
  width: 620px;
  margin: 20px auto;
  font-family: 'Black Ops One', Arial, sans-serif;
  font-size: 20px;
  line-height: 35px;
  color: rgba(138, 138, 138, 0.5);
  transition: width 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

@media (max-width: 670px) {
  .contact_form_success_header {
    font-size: 30px;
  }
  .contact_form_success_message {
    width: 350px;
    font-size: 15px;
  }
  .shining_button.medium {
    font-size: 0.75rem;
    padding: 0.56rem 1.68rem;
  }
}
